@use '../../styles/variables';

.header {
  background-color: variables.$mainColor;
  color: variables.$lightColor;
  // traduit en CSS par : 1.6rem
  padding: 2 * variables.$gutter;

  .header-title {
    font-weight: variables.$fwBold;
    font-size: 2em;
  }

  .header-amount {
    margin-top: variables.$gutter;
  }
}
